/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Dancing+Script:wght@400;500;600;700&display=swap');

:root {
    --color-light: #fcfcfc; 
    --color-dark: #212121;

    --dark-bg-img: url('../images/background/piano-dark-bg.jpg');
    --light-bg-img: url('../images/background/piano-light-bg.jpg');
}

body {
    font-family: 'Dancing Script', 'Lato', sans-serif;
    font-size: 2rem;
    margin: 0 auto;
    background-image: var(--dark-bg-img);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-dark);
    color: var(--color-light);
    text-align: center;
    display:-webkit-box; 
    display:-ms-flexbox; 
    display:flex;   
    -webkit-box-orient: vertical;   
    -webkit-box-direction: normal;   
    -ms-flex-direction: column;   
    flex-direction: column;
    min-height: 100vh;
}

.hidden {
    display:none !important;
}

.unclickable {
    pointer-events: none;
}

/* Colour Theme  */

body.color-theme-change {
    background-image: var(--light-bg-img);
    background-color: var(--color-light);
}

h1.color-theme-change,
#start.color-theme-change,
footer.color-theme-change,
#github.color-theme-change,
.tally.color-theme-change,
.key-instructions.color-theme-change {
    background-color: var(--color-light);
    color: var(--color-dark);
}

#start.color-theme-change:hover {
    background-color: var(--color-light);
    border: 1px solid var(--color-dark);
}

/* Buttons*/

#start {
    padding: 5px;
    margin-bottom: 2px;
}

#start:hover {
    border: 1px solid var(--color-light);
    text-decoration: none;
    background-color: var(--color-dark);
    cursor: pointer;
}

.btn-secondary {
    background-color: var(--color-dark);
    color: var(--color-light);
    border-radius: 15px;
}

/* Header */

header {
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    background-color: var(--color-dark);
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    padding: 5px;
    border-radius: 10px;
}

/* Instructions & Tally */

.key-instructions {
    font-size: 1.25rem;
    background-color: var(--color-dark);
    border-radius: 10px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    padding: 5px;
}

.tally {
    font-size: 1.5rem;
    background-color: var(--color-dark);
    border-radius: 10px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    padding: 5px;
}

.key-instructions p, 
.tally p {
    margin-bottom: 0;
}

/* Game area */

/* Some CSS techniques for piano and keys inspired by 'Web Dev Simplified' 
https://www.youtube.com/watch?v=vjco5yKZpU8&t=668s */

.piano-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 0 20px 0;
    margin: 0 auto;
    height: 45vh;
}

.white-key {
    height: 100%;
    width: 14.28%;
    background-color: ivory;
    border-radius: 5px;
    color: black;
    border: 1px solid #3F4045;
}

.white-key p,
.black-key p {
    position: relative;
    top: 80%;
}

.white-key.active {
    background-color: #d4d2d2;
}

.white-key:hover,
.black-key:hover
{
    cursor: pointer;
}

.black-key {
    height: 50%;
    width: 7.14%;
    background-color: #212121;
    -ms-flex-item-align:start;
    align-self:flex-start;
    border-radius: 5px;
    font-size: 1rem;
    margin-left: -3.57%;
    margin-right: -3.57%;
    z-index: 2;
}

.black-key.active {
    background-color: #615d5d;
}


/* Footer */

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: var(--color-dark);
    width: 100%;
    margin-top: auto;
    padding: 15px;
}

footer a {
    color: var(--color-light);
}

footer a:hover {
    color: var(--color-light);
}

#color-theme {
    display: inline;
}

#color-theme:hover {
    cursor: pointer;
}

#color-theme i {
    padding-left: 5px;
}

#color-theme p{
    font-size: 1.5rem;
}

/* Responsive Design - Media Queries  */

@media screen and (max-width:281px) {
    h1 {
        font-size: 80%;
    }

    .btn-secondary {
        font-size: 80%;
    }

    .white-key p,
    .black-key p {
        font-size: 80%;
    }

    footer{
        font-size: 80%;
    }
}

@media screen and (min-width:282px) and (max-width:380px){
    h1 {
        font-size: 90%;
    }

    .btn-secondary {
        font-size: 90%;
    }

    .piano-container {
        min-height: 35vh;
    }

    .white-key p,
    .black-key p {
        font-size: 90%;
    }

    footer{
        font-size: 90%;
    }
}

/* safari code */
/* The below fix for background images not displaying in Safari was taken from Stack Overflow -
https://stackoverflow.com/questions/16348489/is-there-a-css-hack-for-safari-only-not-chrome */

@media not all and (min-resolution:.001dpcm) { 
    @media {
        body { 
            background: url('../images/background/piano-dark-bg.jpg');
            background-image: url('../images/background/piano-dark-bg.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        body.color-theme-change {
            background: url('../images/background/piano-light-bg.jpg');
            background-image: url('../images/background/piano-light-bg.jpg');
            background-color: var(--color-light);
        }
    }
}