@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Dancing+Script:wght@400;500;600;700&display=swap');

body {
    font-family: 'Dancing Script', 'Lato', sans-serif;
    font-size: 2rem;
    margin: 0 auto;
    background-image: url('../images/piano-dark-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #3F4045;
    color: #fcfcfc;
    text-align: center;
    /* part 1 of fix to keep footer at bottom of page - part 2 in footer section */
    /* This fix was taken from https://www.youtube.com/watch?v=yc2olxLgKLk */ 
    display:flex;   
    flex-direction: column;
    min-height: 100vh;
}

#color-theme {
    background-image: url('../images/');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: whitesmoke;
    color: #212121;
}

.hidden {
    display:none !important;
}

.unclickable {
    pointer-events: none;
}

/* ---------------------------- Buttons*/

.btn-secondary{
    background-color: #3F4045;
    border-radius: 15px;
}

/* --------------------------- Header */

header {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* --------------------------- Main section */
/* main {
    padding-bottom: 20px;
} */

/* ----------------------------- Instructions */

.key-instructions {
    font-size: 20px;
}

/* ---------------------------- Tally */

.tally {
    font-size: 80%;
}

/* ---------------------------- Game area */

/* Some CSS techniques for piano and keys inspired by 
'Web Dev Simplified' https://www.youtube.com/watch?v=vjco5yKZpU8&t=668s */

.piano-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
    margin: 0 auto;
    height: 45vh;
}

.white-key {
    height: 100%;
    width: 14.28%;
    background-color: ivory;
    border-radius: 5px;
    color: black;
    border: 1px solid #3F4045;
}

.white-key p,
.black-key p {
    position: relative;
    top: 80%;
}

.white-key.active {
    background-color: #d4d2d2;
}

.white-key:hover,
.black-key:hover
{
    cursor: pointer;
}

.black-key {
    height: 50%;
    width: 7.14%;
    background-color: #212121;
    align-self:flex-start;
    border-radius: 5px;
    font-size: 1rem;
    margin-left: -3.57%;
    margin-right: -3.57%;
    z-index: 2;
}

.black-key.active {
    background-color: #615d5d;
}


/* ------------------------------------ Footer */

footer {
    background-color:#212121;
    width: 100%;
    margin-top: auto; /* part 2 of fix to keep footer at bottom of page*/
    padding: 15px;
}

footer a {
    color: ivory;
}


/* Responsive Design - Media Queries  */

@media screen and (max-width:281px) {
    h1 {
        font-size: 80%;
    }

    .btn-secondary {
        font-size: 80%;
    }

    .white-key p,
    .black-key p {
        font-size: 80%;
    }
}

@media screen and (min-width:282px) and (max-width:380px){
    h1 {
        font-size: 90%;
    }

    .btn-secondary {
        font-size: 90%;
    }

    .piano-container {
        min-height: 35vh;
    }

    .white-key p,
    .black-key p {
        font-size: 90%;
    }
}

